.header-wrapper {
	position: flex;
	z-index: 2;
	top: 0px;
	padding: 5px 0px;
    margin-left: auto;
    margin-right: auto;
	background-color: white;
    text-align: center;
	box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.listst {
    margin: auto;
    padding: 50px;
    width: 500px;
}

body {
font-family: Arial, sans-serif;
font-weight: bold;
font-size: 14px;
}

.input-container {
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
  }
.input-text {
    margin: 0 auto;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 20px;
    width: 100%;
    border: none;
    font-size: 14px;
    transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
.label-align {
    text-align : center;
}

.result-style {
    padding: 20px;
}
  

.wrap {
position: flex;

text-align: center;
}

a {
-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
display: block;
margin: 20px auto;
max-width: 180px;
text-decoration: none;
border-radius: 4px;
padding: 20px 30px;
}

a.button {
color: rgba(30, 22, 54, 0.6);
box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button:hover {
color: rgba(255, 255, 255, 0.85);
box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button2 {
color: rgba(30, 22, 54, 0.6);
box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button2:hover {
color: rgba(255, 255, 255, 0.85);
box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}
